body {
    font-family: cursive;  
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

p.timer{
    font-size: 20px;
   

}

#time{
    color: rgb(255, 30, 0);
}

a {
    color: blue;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    color: blueviolet;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 700px;
    max-width: 600px;;
    margin: auto;
    /* margin: auto;
    text-align: center;
    height: 500px;
    width: 500px; */
    
}

h1 {
    text-align: center;

}

.description{
    text-align: center;
}

.start-quiz-button{
    
    
}