body {
    font-family: cursive;  
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}


#countdown{
    color: rgb(255, 30, 0);
    font-size: 22px;
}

a {
    color: rgb(0, 60, 255);
    text-decoration: none;
}
a:hover {
    color: blueviolet;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    max-width: 600px;;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(0, 60, 255);

}

.description{
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

button{
    font-size: 30px;
    background-color: black;
    color: white; 
}

button:hover{
    background-color: rgb(0, 60, 255);
}

.hide{
    display: flex;
    /* flex-wrap: wrap; */

}