body {
    font-family: cursive;  
}

header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

p.timer{
    font-size: 20px;
   

}

#time{
    color: rgb(255, 30, 0);
}

a {
    color: blue;
    text-decoration: none;
    font-size: 20px;
}